@import url('reset.css');




@font-face {
    font-family: 'ProxymaRegular';
    src: url('../fonts/proxyma_nova/ProximaNova-Regular.woff')
    format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProxymaLight';
    src: url('../fonts/proxyma_nova/ProximaNova-Light.woff')
    format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProxymaBlack';
    src: url('../fonts/proxyma_nova/ProximaNova-Black.woff')
    format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProxymaBold';
    src: url('../fonts/proxyma_nova/ProximaNova-Bold.woff')
    format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProxymaThin';
    src: url('../fonts/proxyma_nova/ProximaNovaT-Thin.woff')
    format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #e12457;
    --second-color: #fff;
    --main-font: "ProxymaRegular", sans-serif;
    --font-thin: "ProxymaThin", sans-serif;
    --font-black: "ProxymaBlack", sans-serif;
    --font-bold: "ProxymaBold", sans-serif;
    --font-light: "ProxymaLight", sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    background-clip: border-box;
}

body {
    font: 0.875rem var(--main-font);
}

.header {
    background: url('../images/320/bg_hd_320.jpg') no-repeat center top;
    background-size: cover;
    border-bottom: 1px solid transparent;
}

.wrapper {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid transparent;
}
.header__wrapper {
    position: relative;
}
.heade_flex_box {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    display: block;
    max-width: 200px;
    margin: 1.7857em 3.9em;
    position: relative;
    text-decoration: none;
}

.header__logo::before {
    display: block;
    content: url('../images/logo.png');
    position: absolute;
    left: -54px;
    top: -8px;
}
.header__logo::after {
    display: block;
    content: 'project';
    position: absolute;
    color: var(--second-color);
    line-height: 0.8;
}

.header__logo_item {
    display: block;
    text-transform: uppercase;
    color: var(--second-color);
    font: 1.05rem/0.8 var(--font-bold);
}

.header__nvigation_button {
    position: relative;
    cursor: pointer;
    margin-top: 1.7em;
}
.burger_svg_btn {
    stroke:#fff;
    stroke-width:2px;
    transition: all 1s ease;
}
.header__nvigation_button:hover #line_top {
    d: path('M0,1 l45,0');
}
.header__nvigation_button:hover #line_mid {
    d: path('M0,10 l15,0');
}
.header__nvigation_button:hover #line_bot {
    d: path('M0,19 l28,0');
}

.header__navigation {
    display: none;
}
.header__main-text {
    margin: 7.57em auto 2.857em;
    font-family: var(--font-thin);
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.header__main-text-regular {
    font-family: var(--font-bold);
}

.main-text_item-bottom {
    text-transform: uppercase;
    font: 4.5rem var(--font-black);
    line-height: 1;
}

.header__text_vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translateX(-10%);
    color: #ff9ebd;
    font-family: var(--font-thin);
    margin: 0 auto;
    letter-spacing: 10px;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
}

.header__text_vertical_item {
    color: rgba(255,158,189,.5);
}

.header_video_wrap {
    position: relative;
    width: 70.3%;
    margin: 0 auto 5.714em;
}

.header_video {
    max-height: 256px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 25px 38px rgba(0,0,0,0.48);
}
.header_video_item {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.header_video_play_wrap {
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);

}

.header_video_play {
    display: block;
    width: 54px;
    height: 54px;
    position: relative;
    border-radius: 50%;
    background: url('../images/play_video.svg');
    cursor: pointer;
}
.header_video_play::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(244, 78, 66,.0);
    border-radius: 50%;
}
.header_video_play:hover::before {
    background: rgba(244, 78, 66,.4);
}

.header_video_play::after {
    content: 'Смотреть видео';
    font: 1rem var(--font-bold);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: block;
    width: 130px;
    top: 17px;
    right: -145px;
}

.header__text_video {
    max-width: 120px;
    font-family: var(--font-light);
    color: #ffcfdf;
    position: absolute;
    right: 4%;
    bottom: -45px;
}
.button_bot_circle {
    fill: #b41f5f;
    fill-opacity: 0.5;
}

.button_bot_path {
    fill: none;
    stroke-width: 2;
    stroke: #fff;
}
.button_bot {
    max-width: 62px;
    margin: 0 auto 2em;
}

#pointer {
    transition: transform 1s ease;
}

.button_bot:hover #pointer {
    transform: translateY(6px);
}


.main__wrapper {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    height: 170px;
    align-items: center;
}
.top_add_inf {
    overflow: hidden;
    background: #fff5f8;
}

.top_add_inf_block {
    color: #4c4c4c;
    font: 0.8125rem var(--font-light);
    display: flex;
    height: 106px;
    flex-flow: column;
    flex: 0 1 calc(1170px / 10.5);
}
.inf_block_2 {
    flex: 0 1 calc(1170px / 8.5);
}

.top_add_inf_block_num {
    color: #e12457;
    font: 2.25rem var(--font-bold);
    margin-bottom: 0.2em;
}
.top_add_inf_block_text {
    line-height: 1.4;
}

.remember_all {
    position: relative;
}
.remember_all_wrap {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 46.666666% 44%;
    grid-template-rows: 1fr 2fr;
    grid-gap: 0 9.33%;
    position: relative;
    z-index: 100;
}

.remember_all_headline,
.remember_all_chapter {
    grid-column: 1/3;
    font-family: var(--font-bold);
}

.remember_all_headline {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--main-color);
    font-size: 2.25rem;
}

.remember_all_chapter_headline {
    font-size: 1.5rem;
    margin-bottom: 1.25em;
}

.remember_all_chapter_text {
    font-family: var(--font-light);
    color: #4c4c4c;
    margin-bottom: 1.428em;
    line-height: 1.5;
}
.ellipse_container_relative_not_hidden {
    position: relative;
    height: 290px;
}
.help_ellipse_cont_absolute {
    position: absolute;
    width: 100%;
    top: -90px;
}
.ellipse_container_relative {
    position: relative;
    height: 290px;
    overflow: hidden;
}

.ellipse_container_absolute {
    position: absolute;
    width: 452%;
    max-width: 2717px;
    left: -790px;
    bottom: 0;
}

#svg_rememberall {
    stroke-width: 5;
    stroke: #e12457;;
    fill: transparent;
}

.shp1 {
    fill: #fff;
}
.planet-label {
    stroke: #e12457;
    font-size: 16px;
    user-select: none;
    vector-effect: non-scaling-stroke;
}
.ship-label {
    font: 1.5rem var(--font-light);
    stroke: #e12457;
    vector-effect: non-scaling-stroke;
}
.ship-label-measure {
    font-size: 0.9rem;
}
.space-ship-stroke {
    stroke: #fff;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 3px;
  }
  
  .space-ship-fill {
    fill: #e12457;
  }

  #ship {
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }
  .from_idea_to_implement_wrap {
    display: grid;
    grid-template-rows: repeat(7,auto);
    grid-template-columns: 68% 27.777%;
    grid-column-gap: 4.2%;
    font: 1rem/1.5 var(--font-light);
  }

  .to_implement_headline,
  .to_implement_question,
  .to_implement_mask_ab,
  .to_implement_mask_photo,
  .to_implement_mask_quote,
  .to_implement_mask_goal {
      grid-column: 1/3;
      grid-row: span 1;
  }
  .to_implement_headline {
      font: 2.25rem var(--font-bold);
      color: var(--main-color);
      margin: 0;
      margin-bottom: 1em;
      line-height: initial;
  }
  .to_implement_question {
    font: 1.5rem var(--font-bold);
    margin-bottom: 1.33em;
    line-height: initial;
  }
  .to_implement_mask_ab {
    margin-bottom: 2em;
  }
  .to_implement_mask_photo {
    width: 54.27%;
    margin: 0 auto 3.75em;
  }
  .mask_photo_container {
      outline: 10px solid var(--main-color);
      position: relative;
  }
  .mask_img {
    display: block;
    position: relative;
    top: 22px; right: 22px;
    max-width:100%;
  }
  .to_implement_mask_quote {
    color: var(--main-color);
    margin-bottom: 2.5em;
  }
  .to_implement_mask_goal {
    margin-bottom: 1em;
  }
  .cost_of_flight_outer_container {
    position: relative;
    margin-top: 13.5em;
    background: url("../images/320/rocket_bg_320.jpg") no-repeat center top;
    background-size: 100% 100%;
    max-width: 1170px;
    height: 660px;
  }
  .to_implement_ready_block {
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90.625%;
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: 29.55% 64.76%;
    grid-column-gap: 5.6%;
    align-items: flex-end;
  }

  .rocket_photo {
    display: block;
    grid-row: 1/ span 1;
    grid-column: 1/3;
    max-width: 100%;
  }
  .cost_of_flight_des_cont {
    margin-top: 2.857em;
    grid-row: 2/ span 1;
    grid-column: 1/3;
  }
  .cost_of_flight_des_headline {
    font: 1.5rem var(--font-bold);
    color: #fff;
  }
  .cost_of_flight_des_text {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    margin-top: 1.8em;
  }
  
  .cost_of_flight_price_cont {
    grid-column: 1/3;
    grid-row: 3/ span 1;
    display: flex;
    flex-direction: column;
    border-top: 1px solid transparent;
    justify-content: space-between;
  }

  .cost_of_flight_price {
    font: 3.75em var(--font-thin);
    color: #fff;
    margin-top: 0.58em;
    margin-bottom: 0.5em;
  }
  .cost_of_flight_price_text {
    font: 1.5rem var(--font-thin);
    display: block;
    position: relative;
    color: #fff;
    margin-bottom: 2em;
  }
  .cost_of_flight_price_text::after {
    display: block;
    content: '';
    position: absolute;
    width: 75.86%;
    bottom: -0.2em;
    height: 1px;
    background: #fff;
  }
  .cost_of_flight_price_btn {
    font: 1.125rem var(--font-bold);
    color: #c2529a;
    width: 100%;
    padding: 1em;
    background: #fff;
    border-radius: 30px;
    margin-bottom: 1em;
    box-shadow: 0 0 27px 5px rgba(255,255,255,.48);
  }
  .cost_of_flight_bg {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
  }
  .underwater_rocks_headline {
      font: 2.25rem var(--font-bold);
      color: #fff;
      margin-top: 1.6em;
      margin-bottom: 1.27em;
      width: 80%;
  }
  .underwater_rocks_video_cont {
      position: relative;
  }

  .underwater_rocks_video {
      width: 100%;
      height: auto;
      max-height: 100%;
      background: red;
  }
  .underwater_rocks {
      overflow: hidden;
      background: #191c3d url("../images/1100/underwater_rocks_bg_1170.jpg")
      no-repeat center top;
      background-size: cover;
  }
  .underwater_rocks_nav ul {
      list-style-type: none;
      margin-bottom: 2.8em;
  }
  .underwater_rocks_nav ul li {
      cursor: pointer;
      position: relative;
  }
  .underwater_rocks_nav ul li a {
      text-decoration: none;
      color: #908bb1;
      font: 1rem var(--font-bold);
      margin-top: 2.8em;
      display: inline-block;
      width: 100%;
      position: relative;
  }
  .underwater_rocks_nav ul li a::after {
      content: '';
      position: absolute;
      right: 0;
      width: 36px;
      height: 12px;
      top: 5px;
      display: block;
      background: url('../images/file.svg') no-repeat 24px -12px;
  }

  .underwater_rocks_nav ul .pseudoclass::after {
      background-position-y: -24px;
  }
  .nav_text {
      font: 1rem/1.5 var(--font-light);
      color: #fff;
      margin-top: 2.18em;
      transition: all 0.5s ease-in-out;
      display: none;
  }
  .nav_text_par {
      margin-bottom: 1em;
  }

  .live_in_the_colony_grid {
      display: grid;
      grid-template-columns: 60px minmax(auto,85%);
      grid-template-rows: repeat(3,auto);
      grid-column-gap: calc(100% - 85% - 60px);
  }

  .live_in_the_colony_headline {
      grid-column: 1/3;
      grid-row: 1/ span 1;
      font: 2.25rem var(--font-bold);
      color: var(--main-color);
      margin: 1.38em 0 1em;
  }

  .live_in_colony_box {
    margin-top: 2.8em;
    position: relative;
    left: -20px;
    grid-row: 2/ span 2;
    grid-column: 2/3;
  }

  .live_in_colony_svg_box {
    grid-column: 1/2;
    grid-row: 2/ span 2;
  }

  .live_in_colony_box_headline {
      font: 1.5rem var(--font-bold);
      margin: 1.25em 0 1.125em;
  }
  .live_in_colony_box_body {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 2.1875em;
  }
  .live_in_colony_box_btn {
      display: block;
      width: 160px;
      font: 1rem var(--font-bold);
      background: var(--main-color);
      padding: 0.8em 0;
      color: #fff;
      border-radius: 23px;
  }


  #footer {
      background: #c2529a url('../images/750/footer_bg_750.jpg') no-repeat center top;
      background-size: cover;
      color: #fff;
  }
  .footer_wrapper_outer {
    display: grid;
    grid-template-columns: minmax(320px,400px) auto;
    grid-template-rows: 4 auto;
  }
  
  .footer_headline {
      width: 95%;
      grid-column: 1/3;
      grid-row: 1/ span 1;
      font: 2.25rem var(--font-bold);
      margin: 1.38em auto 0.84em;
  }
  .footer_text_cont {
      grid-column: 1/3;
      grid-row: 2/ span 1;
      font: 1rem/1.5 var(--font-light);
      width: 95%;
      margin: 0 auto;
  }
  .footer_text_par {
      margin-bottom: 1.58em;
  }
  .footer_link {
      color: #fff;
      display: block;
      margin-bottom: 2.68em;
  }
  #footer_form {
      background: url('../images/750/footer_form_bg_750.jpg') no-repeat center top;
      background-size: cover;
      border: 1px solid transparent;
      max-width: 350px;
      grid-column: 1/3;
      grid-row: 3/ span 1;
  }
  .footer_form_headline {
      font: 1.43rem var(--font-bold);
      margin: 2.39em auto 0;
  }
  .footer_form_headline ~ * {
      width: 79.6875%;
      margin: 0 auto;
  }
  #footer_form input {
      width: 100%;
      margin-top: 2.25em;
      border: none;
      background: transparent;
      color: #fff;
      font-size: 1rem;
      border-bottom: 1px solid #fff;
      padding-bottom: 0.625em;
  }
  #footer_form input[type='text'] {
      padding-left: 0.3em;
  }
  #footer_form ::placeholder {
      font: 1rem var(--font-light);
      color: #fff;
  }
  .footer_form_btn {
      margin: 2.8em auto 3.62em;
      display: block;
  }
  .social_footer {
      width: 168px;
      height: 35px;
      background: url('../images/social.png') no-repeat center top;
  }
  .footer_add_inf {
      grid-column: 1/3;
      grid-row: 4/ span 1;
      margin: 3.57em auto 2.357em;
  }
@media (min-width: 600px) {
    
    .header {
        background: url('../images/750/bg_hd_750.jpg') no-repeat center top;
        background-size: cover;
    }
    
    .header__logo {
        margin-top: 2.285em;
    }
    .header__logo::before {
        top: -6px;
    }
    
    .header__logo_item {
        font-size: 1.3125rem;
    }
    .header__main-text {
        margin: 13.57em auto 4.2857em;
    }
    .header__nvigation_button {
        margin-top: 2.285em;
    }
    .header__nvigation_button::before {
        content: 'Меню';
        font-size: 1.125rem;
        color: #fff;
        position: absolute;
        left: -120%;
    }
    
    .main__wrapper {
        height: 210px;
    }
    
    .main-text_item-top {
        font-size: 1.875rem;
    }
    .main-text_item-bottom {
        font-size: 9.8125rem;
    }
    .header__text_vertical {
        opacity: 1;
        visibility: visible;
    }
    .header__text_vertical_item {
        margin-right: 1em;
    }
    .header_video_play_wrap {
        left: 31%;
        transform: translate( -0%, -50%);
    }
    .header_video_play::after {
        opacity: 1;
        visibility: visible;
    }
    
    .chapter_0 {
        grid-column: 1/2;
    }
    .chapter_1 {
        grid-column: 2/3;
    }
    .ellipse_container_relative,
    .ellipse_container_relative_not_hidden {
        height: 331px;
    }
    #earth-label {
        transform: translate(58px,10px);
    }
    #mars-label {
        transform: translate(-14px,62px);
    }
    .planet-label {
        font-size: 8.5px;
    }
    .ship-label {
        font-size: 12.78px;
    }
    .ship-label-measure-mln {
        transform: translate(20px,10px);
        font-size: 11px;
    }
    .ship-label-measure-mtns {
        font-size: 11px;
        transform: translate(95px,10px);
    }
    .to_implement_headline,
    .to_implement_question,
    .to_implement_mask_ab,
    .to_implement_mask_quote {
        grid-column: 1/2;
    }
    .to_implement_mask_photo {
        width: calc(100% - 20px);
        grid-column: 2/3;
        grid-row: 3/5;
        margin: 0 auto;
        transform: translateY(15px);
    }
    .to_implement_mask_quote {
        font-size: 1.125rem;
        margin-bottom: 1.666em;
    }
    .to_implement_ready_block {
        width: 92%;
        top: -50px;
        margin-left: auto;
        margin-right: auto;
    }

    .cost_of_flight_outer_container {
        width: 95%;
        margin: 6em auto;
        background-image: url("../images/750/rocket_bg_750.jpg");
        height: 377px;
    }

    .cost_of_flight_des_cont {
        grid-column: 2/3;
        grid-row: 1/ span 2;
        margin-left: 7.85em;
    }
    .rocket_photo {
        max-width: 260px;
        grid-column: 1/2;
        grid-row: 1 / span 2;
    }
    .cost_of_flight_price_cont {
        margin-top: 3.57em;
        margin-bottom: 4em;
        flex-direction: row;
        align-items:flex-start;
        justify-content: initial;
        grid-column: 1/3;
        grid-row: 3/ span 1;
    }
    .cost_of_flight_price_btn,
    .cost_of_flight_price_text,
    .cost_of_flight_price {
        margin: 0;
    }
    .cost_of_flight_price {
        line-height: 0.9;
    }
    .cost_of_flight_price_text {
        margin-left: 1.1em;
        width: 250px;
    }
    .cost_of_flight_price_text::after {
        width: 100%;
    }
    .cost_of_flight_price_btn {
        max-width: 200px;
        margin-left: auto;
    }
    .cost_of_flight_bg {
        max-height: 380px;
    }

    .underwater_rocks_video_play::after {
        display: none;
    }
    .underwater_rocks_video_wrap {
        left: 50%;
        transform: translate( -50%, -50%);
    }

    .underwater_rocks_nav ul li a {
        max-width: 35%;
    }
    .underwater_rocks_nav ul li a::after {
        background-position-x: left;
    }

    .underwater_rocks_nav ul .pseudoclass::after {
        background-position: center top;
    }

    .nav_text {
        max-width: 420px;
        float: right;
        margin: 44px 0 0 0;
    }

    .nav_text_technologies::before {
        content: 'Готовы ли технологии?';
        font: 1.5rem var(--font-bold);
        margin-bottom: 1.25em;
        display: block;
    }
    .nav_text_traveling::before {
        content: 'Путешествие на грани фантастики';
        font: 1.5rem var(--font-bold);
        margin-bottom: 1.25em;
        display: block;
    }
    .nav_text_live::before {
        content: 'Жить или выживать?';
        font: 1.5rem var(--font-bold);
        margin-bottom: 1.25em;
        display: block;
    }
    .nav_text_live_on_mars::before {
        content: 'Жизнь на марсе';
        font: 1.5rem var(--font-bold);
        margin-bottom: 1.25em;
        display: block;
    }
    .live_in_the_colony_grid {
        overflow: hidden;
    }

    .live_in_colony_box {
        grid-column: 1/3;
        grid-row: 3/ span 1;
        position: initial;
        margin-top: 0;
    }
    .live_in_colony_box_btn {
        margin-bottom: 3em;
    }
    .live_in_the_colony_headline {
        font-size: 3rem;
        margin: 1.1em 0 0.8em;
    }

    .live_in_colony_svg_box {
        height: 60px;
        margin: 0 0 1.5em;
        transform-origin: 0% 0%;
        transform: rotate(90deg) scaleY(-1);
        transition: all .5s ease-in-out;
        grid-column: 1/3;
        grid-row: 2/ span 1;
    }

    .footer_form_btn {
        width: 79.6875%;
        max-width: initial;
        margin: 2.8em auto 3.62em;
    }
    .footer_wrapper_outer {
        width: 95%;
        max-width: 1170px;
        margin: 0 auto;
    }
    .footer_wrap {
        width: 100%;
    }
    .footer_headline {
        font-size: 3em;
        width: 61.2%;
        margin: 1.67em 0 1.33em;
    }
    .footer_link {
        margin-bottom: 0;
    }
    #footer_form {
        grid-column: 1/2;
        grid-row: 2/ span 1;
        margin: 0.3em 0 0.5em;
    }
    .footer_text_cont {
        grid-column: 2/3;
    }
}
@media (min-width: 1000px) {
    .header {
        background: url('../images/1100/bg_hd_1000.jpg') no-repeat center top;
        background-size: cover;
    }
    .button_bot {
        margin-left: 0;
    }
    .header__text_vertical {
        left: 10.2%;
        top: 260px;
    }
    .remember_all_chapter_headline {
        margin-bottom: 1em;
    }
    .remember_all_chapter_text {
        margin-bottom: 0;
    }
    .remember_all_chapter.chapter_1 {
        max-width: 370px;
    }
    .remember_all_first_chapter {
        margin-bottom: 1em;
    }
    .help_ellipse_cont_absolute {
        top: -120px;
    }
    .cost_of_flight_bg {
        max-height: 310px;
    }
    .to_implement_headline,
    .to_implement_question,
    .to_implement_mask_ab,
    .to_implement_mask_quote,
    .to_implement_mask_goal {
        margin-bottom: 0;
        max-width: 700px;
    }

    .to_implement_headline {
        font-size: 3.75em;
        margin-bottom: 0.5em;
    }

    .to_implement_ready_block {
        top: -30px;
    }
    .to_implement_mask_goal {
        grid-column: 1/2;
    }
    .mask_img {
        top: 50px;
        right: 50px;
    }
    .to_implement_mask_photo {
        grid-row: 2/6;
    }

    .cost_of_flight_outer_container {
        width: 100%;
        margin-top: 4em;
        height: 308px;
        background-image: url("../images/1100/rocket_bg_1170.jpg");
        margin-bottom: 11.7em;
    }

    .rocket_photo {
        max-width: 100%;
        grid-row: 1/ span 3;
        align-self: flex-start;
    }
    .cost_of_flight_des_cont {
        margin-top: 6.7em;
        grid-row: 1/ span 1;
        margin-left: initial;
    }
    .cost_of_flight_price_cont {
        margin-top: 1.4em;
        grid-column: 2/3;
        grid-row: 2/ span 2;
    }
    .underwater_rocks_nav ul li a{
        max-width: 250px;
    }
    .nav_text {
        margin-right: 80px;
        max-width: 765px;
    }

    .footer_headline {
        width: 100%;
    }

    #footer_form {
        max-width: 400px;
    }

    .live_in_the_colony_grid {
        margin-bottom: 10em;
    }

    .live_in_the_colony_headline {
        margin: 2.18em 0 1em;
    }
    .live_in_colony_box {
        grid-column: 2/3;
        grid-row: 2/ span 2;
        margin-top: 0.5em;
    }

    .live_in_colony_svg_box {
        transform: initial;
        height: 770px;
        grid-column: 1/2;
        grid-row: 2/ span 2;
        margin: 0;
    }

}
